<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <!-- custom CSS-->
    <link rel="stylesheet" href="../../public/css/styles.css">
    <!-- Google fonts-->
   <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
   <!--FontAwesome-->
   <script src="https://use.fontawesome.com/68a06eabce.js"></script>

    <title>PicShare</title>
</head>
<body>
    <nav class="navbar navbar-light bg-dark">
        
            <a href="/" class="navbar navbar-brand text-white">
             SketchPics - Social Network
            </a>        
    </nav>
 <div class="container p-4">
     <div class="row">
         <div class="col-md-8">
              {{{ body }}}
         </div>
         <div class="col-md-4">

         </div>
     </div>

 </div>

</body>
</html>