<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
    
    <title>PicShare</title>
</head>
<body>
    <nav class="navbar navbar-light bg-dark">
        <div class="container">
            <a href="/" class="navbar navbar-brand">
            <img src="../../public/img/shot.webp" alt="">
            </a>
        </div>
    </nav>
</body>
</html>